/*css du header */

.logo{
  text-transform: uppercase;
  color: #000;
}
.navbar {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  text-align: center;
  height: 3em;
  padding-top: 2em;
  color: #000;
  background-color: #fff;
}
a.nav, a.nav:visited {
  color: #000;
}
a.nav:hover {
  font-weight: bold;
  padding: 2em;
  background-color: #000;
  color: #fff;
  opacity: 0.9;
}
/*css du footer */
.one {

}
.foot {
  margin: 0 auto;
  width: 80%;
}
.two {
  text-align: center;
  height: 2em;
  padding-top: 1em;
  background-color: #fff;
}
