/*css du header */
.logo{
  text-transform: uppercase;
}
.navbar {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  text-align: center;
  height: 3em;
  padding-top: 2em;
  background-color: #000;
  color: #fff;
}
a.nav, a.nav:visited {
  color: white;
}
a.nav:hover {
  padding: 0.5em;
  font-weight: bold;
  color: #fff;
}

/*css du footer */
footer {
  height: 5em;
  background-color: grey;
}
