/*css pour la mise en place générale de la page */
* {
  margin: 0;
  padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
header {
  position: fixed;
  width: 100%;
  z-index: 10;
}
.bold {
  font-weight: bolder;
}
a, a:hover, a:visited, a:active, a:focus{
  text-decoration: none;
  outline-style: none;
}
/* css du slider */
.slider {
  display: flex;
  top: 5em;
  height: 36.5em;
  background-color: white;
}
.carousel {
  display: flex;
  top: 41.5em;
  height: 25em;
  background-color: #000;
}
/* css de la parallax */
.parallax-window {
  min-height: 25em;
  background-color: transparent;
}
/* css de la présentation */
.presentation {
  display: flex;
  top: 86.5em;
  height: 30em;
  background-color: #fff;
}
.prestitre {
  padding: 1.5em;
  font-size: 300%;
  font-variant: small-caps;
  color: #fff;
  text-shadow: 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000,
  0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000,
  0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000;
}
