  /*css pour la mise en place générale de la page */
  * {
    margin: 0;
    padding: 0;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  main {
    flex: 1;
  }
  header {
    position: fixed;
    width: 100%;
    z-index: 15;
  }
  .bold {
    font-weight: bolder;
  }
  a, a:hover, a:visited, a:active, a:focus{
    text-decoration: none;
    outline-style: none;
  }
  /* css du slider */
  .slider-container
  {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    background-color: #000;
  }
  .mySlides /* cache les images par défaut */
  {
    display: none;
  }
  #slide /* définis une hauteur aux images */
  {
    height: 40em;
  }
  .prev, .next /* réglages des boutons précédent et suivant */
  {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next /* positionne le bouton suivant de droite */
  {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover /* apparence des boutons hover */
  {
    background-color: rgba(0,0,0,0.8);
  }
  /* css pour le titre et les points */
  /* Le texte */
  .text {
    position: absolute;
    text-align: center;
    margin-left: 36%;
    font-size: 1.5em;
    padding: 0.5em;
    bottom: 3em;
    width: 30%;
    border-radius: 10%;
    opacity: 0.8;
    color: #f2f2f2;
    background-color: #000;
  }
  /* Les points sous le slider */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  /* animation du slider*/
  .fade
  {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade
  {
    from {opacity: .4}
    to {opacity: 1}
  }
  @keyframes fade
  {
    from {opacity: .4}
    to {opacity: 1}
  }
  /* css du carrousel */
  .carrousel {
    display: flex;
    top: 41.5em;
    left: -5em;
    width: 100%;
    height: 26em;
    background-color: #000;
    border-width:2em 0 1em 0;
    border-style:solid;
    border-color: #000;
    overflow: hidden;
  }
  .frame {
    display: flex;
    align-items: center;
    padding: 0.5em;
  }
  #frame {
    border-radius: 1em;
    z-index: 5;
  }
  #frame:hover {
    width: 17em;
  }
  .leftarrow, .rightarrow {
    display: flex;
    align-items: center;
    color: white;
    font-size: 200%;
    z-index: 10;
  }
  .leftarrow:hover, .rightarrow:hover {
    font-size: 300%;
  }
  .leftarrow {
    1.5
  }
  /* css de la parallax */
  .parallax-window {
    min-height: 25em;
    background-color: transparent;
    border-width:0 0 3em 0;
    border-style:solid;
    border-color: #000;
  }
  /* css de la présentation */
  .presentation {
    display: grid;
    grid-template-columns: 50% 50%;
    top: 86.5em;
    height: 30em;
    background-color: #fff;
  }
  .prestitre {
    padding-top: 1.5em;
    padding-left: 2em;
    font-size: 300%;
    font-variant: small-caps;
    color: #fff;
    text-shadow: 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000,
    0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000,
    0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000;
  }
  .prestexte {
    padding-left: 5em;
    font-weight: bold;
  }
  #first{
    position: relative;
    top: 4em;
    left: 2em;
    z-index: 2;
    border: 0.3em solid #000;
  }
  #second{
    position: relative;
    top: 14em;
    right: 4em;
    z-index: 1;
    border: 0.3em solid #000;
  }
  /*///MEDIA QUERIES///*/
  @media (min-width: 1700px){
    #slide /* définis une hauteur aux images */
    {
      height: 55em;
    }
    .prev, .next /* réglages des boutons précédent et suivant */
    {
      top: 55%;
    }
    /* Le texte */
    .text {
      font-size: 2em;
    }
  }
  @media (max-width: 1400px){
    #slide /* définis une hauteur aux images */
    {
      height: 33em;
    }
    .prev, .next /* réglages des boutons précédent et suivant */
    {
      top: 55%;
    }
    /* Le texte */
    .text {
      font-size: 1em;
      bottom: 4em;
    }
  }
