/*css pour la mise en place générale de la page */
* {
  margin: 0;
  padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
header {
  position: fixed;
  width: 100%;
  z-index: 15;
}
.bold {
  font-weight: bolder;
}
a, a:hover, a:visited, a:active, a:focus{
  text-decoration: none;
  outline-style: none;
}
/* css du slider */
.slider {
  display: flex;
  top: 5em;
  height: 36.5em;
  background-color: white;
}
/* css du carrousel */
.carrousel {
  display: flex;
  top: 41.5em;
  left: -5em;
  width: 100%;
  height: 26em;
  background-color: #000;
  border-width:2em 0 1em 0;
  border-style:solid;
  border-color: #000;
  overflow: hidden;
}
.frame {
  display: flex;
  align-items: center;
  padding: 0.5em;
}
#frame {
  border-radius: 1em;
  z-index: 5;
}
#frame:hover {
  width: 17em;
}
.leftarrow, .rightarrow {
  display: flex;
  align-items: center;
  color: white;
  font-size: 200%;
  z-index: 10;
}
.leftarrow:hover, .rightarrow:hover {
  font-size: 300%;
}
.leftarrow {

}
/* css de la parallax */
.parallax-window {
  min-height: 25em;
  background-color: transparent;
  border-width:0 0 3em 0;
  border-style:solid;
  border-color: #000;
}
/* css de la présentation */
.presentation {
  display: grid;
  grid-template-columns: 50% 50%; 
  top: 86.5em;
  height: 30em;
  background-color: #fff;
}
.prestitre {
  padding-top: 1.5em;
  padding-left: 2em;
  font-size: 300%;
  font-variant: small-caps;
  color: #fff;
  text-shadow: 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000,
  0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000,
  0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000;
}
.prestexte {
  padding-left: 1em;
}
