/*css pour la mise en place générale de la page */
* {
  margin: 0;
  padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
header {
  position: fixed;
  width: 100%;
  z-index: 10;
}
a, a:hover, a:visited, a:active, a:focus{
  text-decoration: none;
}
/* css du slide */
.slider {
  display: flex;
  top: 5em;
  height: 36.5em;
  background-color: green;
}
.carousel {
  display: flex;
  top: 41.5em;
  height: 25em;
  background-color: red;
}
.parallax-window {
  min-height: 25em;
  background-color: transparent;
}
.presentation {
  display: flex;
  top: 86.5em;
  height: 30em;
  background-color: yellow;
}
